<style>
.page-landingss2 .container.main.content{padding-top:0px}
.page-landingss2 .container .caption-background-true.caption-transparency-true{background-color:rgba(255,255,255,1);}
.page-landingss2 .container .caption-background-true .headline {color:black; margin:0px;}
.page-landingss2 .featured-content-section {margin:10px auto 0; max-width:1100px;}
.page-landingss2 .featured-content-section .container{padding-bottom:0px;}
.page-landingss2 .feature-text p{margin-bottom:25px;}
.page-landingss2 .page-content-wrap {margin:20px auto 0; }
.page-landingss2 .text-columns-with-images-section {margin:30px auto 0;}
.page-landingss2 h3 {margin-bottom:5px;}
.page-landingss2 .featured-promotions-section{margin-bottom:30px;}
.page-landingss2 #product-button {text-align:center;}
.page-landingss2 .custom-html-section form .action_button {text-align:center; font-size:32px; height:80px; border-radius:15px; margin-bottom:50px;}
.page-landingss2 .nav, .mobile_nav, .top_bar--right {display:none !important;}
.page-landingss2 div.logo {width:100%; float:none;}
.page-landingss2 div.logo a {pointer-events: none; cursor: default;}
.page-landingss2 .caption {top:70%;}
.page-landingss2 .newsletter_section {display:none;}
.page-landingss2 .footer_menu {display:none;}
.page-landingss2 .footer_credits {border-top:1px solid white;}
.page-landingss2 .credits a{pointer-events: none; cursor: default;}
.page-landingss2 .social_icons {display:none !important;}
.featured-promotions .feature-section .feature-wrap { width: 90% !important; }
.promo_banner {display:none !important;}
  
  @media only screen and (max-width: 480px) { .page-landingss2 .page-content-wrap > p {text-align:left !important;}}
  @media only screen and (max-width: 480px) { .page-landingss2 .footer .footer_content > h6 > span {display:none;}}
  @media only screen and (max-width: 480px) { .page-landingss2 .footer .toggle_content {display: block;}}
  @media only screen and (max-width: 480px) { .page-landingss2 .footer .footer_content > h6 {text-align:center;}}  
  @media only screen and (max-width: 480px) { .page-landingss2 h3.regular_text {min-height:0px;}}
  @media only screen and (min-width: 798px) { .landingss2-half { width:calc(50% - 10px); float:right;}}
  @media only screen and (min-width: 798px) { .landingss2-halfleft { width:calc(50% - 10px); float:left;}}
  @media only screen and (min-width: 798px) { .landingss2-third { float: left; width:calc(33.333% - 20px); }}
  @media only screen and (max-width: 798px) { .page-content-wrap {margin-top:60px !important;}}
  @media only screen and (max-width: 798px) { .landingss2-half {margin-left:0px !important;}}
  @media only screen and (max-width: 798px) { .landingss2-halfleft {margin-right:0px !important;}}
  @media only screen and (max-width: 480px) { .container { width:100% !important; }}
  @media only screen and (max-width: 1024px) { .container { width: 100% !important; }}
  @media only screen and (max-width: 1200px) and (min-width:798px) { h2.title { font-size: 18px; }}
  @media only screen and (max-width: 905px) and (min-width:798px) { h2.title { font-size: 13px; }}
  @media only screen and (max-width: 1200px) and (min-width:798px) { .feature-details { font-size: 13px; }}
  @media only screen and (max-width: 850px) and (min-width:798px) { .feature-details { font-size: 12px; }}
  @media only screen and (max-width: 798px) { .bottombutton { width:100% !important; }}
  
</style>

<a name="pagecontent" id="pagecontent"></a>

<div class="page-content-wrap" style="padding:0 15px;">
{% include 'page-multi-column', content: page.content %}
<div class="feature_divider"></div>
<div class="container standard--width">
<div style="margin-top:-20px;">
  
<div class="image-element__wrap landingss2-half" style="margin:0 0 20px 20px;overflow: hidden;">
	<img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1600x.jpg?v=1581186325" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1600x.jpg?v=1581186325" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_5000x.jpg?v=1581186325 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_4500x.jpg?v=1581186325 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_4000x.jpg?v=1581186325 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_3500x.jpg?v=1581186325 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_3000x.jpg?v=1581186325 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_2500x.jpg?v=1581186325 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_2000x.jpg?v=1581186325 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1800x.jpg?v=1581186325 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1600x.jpg?v=1581186325 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1400x.jpg?v=1581186325 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1200x.jpg?v=1581186325 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1000x.jpg?v=1581186325 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_800x.jpg?v=1581186325 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_600x.jpg?v=1581186325 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_400x.jpg?v=1581186325 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_200x.jpg?v=1581186325 200w" height="800" width="1800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="1180px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_5000x.jpg?v=1581186325 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_4500x.jpg?v=1581186325 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_4000x.jpg?v=1581186325 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_3500x.jpg?v=1581186325 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_3000x.jpg?v=1581186325 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_2500x.jpg?v=1581186325 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_2000x.jpg?v=1581186325 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1800x.jpg?v=1581186325 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1600x.jpg?v=1581186325 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1400x.jpg?v=1581186325 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1200x.jpg?v=1581186325 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_1000x.jpg?v=1581186325 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_800x.jpg?v=1581186325 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_600x.jpg?v=1581186325 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_400x.jpg?v=1581186325 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/golden-retreiver-scratching_200x.jpg?v=1581186325 200w">
  </div>
  
  <div class="landingss2-half">
  		<p>Is your dog's excessive itching or licking driving you crazy? It’s driving her crazy, too. Typically, inflammation is the culprit and can be caused by these factors:</p>
  	<ul>
      <li><strong>Food Allergies.</strong> Food can be a tricky one, but it’s best to always feed your dog the highest quality food that’s not over processed.</li>
      <li><strong>Harsh Environment.</strong> Mold and pollen are big triggers for inflammation. Dogs may also
develop skin irritation from substances like pesticides or soap.</li>
      <li><strong>An Unbalanced Diet.</strong> If your dog isn’t getting enough healthy fatty acids, dry skin and
irritation can flare up and cause excessive itching or licking.</li>
 	</ul>
    <p><strong>Show Stopper</strong> provides key nutrients to help defend against these and other causes of inflammation.</p>
    <button style="width:100%; margin-bottom:20px;" type="button" name="shopnow" class="action_button shopnow_button" data-label="Shop Now" onclick="window.location.href='/products/show-stopper';"><span class="text">Shop Show Stopper</span></button>
  </div>

</div>

<div style="margin-top:0px; clear:both;" id="shopify-section-featured-promotions2" class="shopify-section featured-promotions-section"> <div class="featured-promotions container full-width--false"> <div class="js-featured-promotions promo-per-row-3 clearfix" data-promo-animation="fadeInDown"> <figure class="feature-section section-1 promo-1 title-overlay-true promo-animation--true animated fadeInDown"> <div class="feature-inner feature-style--square ">
                
<div class="image-element__wrap" style=" "> <img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1600x.jpg?v=1576184765" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1600x.jpg?v=1576184765" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_5000x.jpg?v=1576184765 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_4500x.jpg?v=1576184765 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_4000x.jpg?v=1576184765 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_3500x.jpg?v=1576184765 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_3000x.jpg?v=1576184765 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_2500x.jpg?v=1576184765 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_2000x.jpg?v=1576184765 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1800x.jpg?v=1576184765 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1600x.jpg?v=1576184765 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1400x.jpg?v=1576184765 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1200x.jpg?v=1576184765 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1000x.jpg?v=1576184765 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_800x.jpg?v=1576184765 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_600x.jpg?v=1576184765 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_400x.jpg?v=1576184765 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_200x.jpg?v=1576184765 200w" height="800" width="800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="350px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_5000x.jpg?v=1576184765 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_4500x.jpg?v=1576184765 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_4000x.jpg?v=1576184765 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_3500x.jpg?v=1576184765 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_3000x.jpg?v=1576184765 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_2500x.jpg?v=1576184765 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_2000x.jpg?v=1576184765 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1800x.jpg?v=1576184765 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1600x.jpg?v=1576184765 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1400x.jpg?v=1576184765 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1200x.jpg?v=1576184765 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_1000x.jpg?v=1576184765 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_800x.jpg?v=1576184765 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_600x.jpg?v=1576184765 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_400x.jpg?v=1576184765 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_200x.jpg?v=1576184765 200w">
</div>

<noscript> <img src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial4_2000x.jpg?v=1576184765" alt="" class="">
</noscript> <figcaption class="feature-overlay"> <a class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">"Helped Rocket’s skin conditions"</h2> <div class="feature-details" style="display: none;"> <div class="description"><p>Show Stopper has helped Rocket's skin conditions not only eliminating her flaking but also dramatically reducing the raised bumpy pink patches. Something the prescriptions had not done so far. Her coat is soft to touch and has a shine.&nbsp;</p>
<p>- AmySue</p></div></div></div></figcaption></div></figure> <figure class="feature-section section-2 promo-2 title-overlay-true promo-animation--true animated fadeInDown"> <div class="feature-inner feature-style--square ">

<div class="image-element__wrap" style=" "> <img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1600x.jpg?v=1576184769" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1600x.jpg?v=1576184769" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_5000x.jpg?v=1576184769 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_4500x.jpg?v=1576184769 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_4000x.jpg?v=1576184769 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_3500x.jpg?v=1576184769 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_3000x.jpg?v=1576184769 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_2500x.jpg?v=1576184769 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_2000x.jpg?v=1576184769 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1800x.jpg?v=1576184769 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1600x.jpg?v=1576184769 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1400x.jpg?v=1576184769 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1200x.jpg?v=1576184769 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1000x.jpg?v=1576184769 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_800x.jpg?v=1576184769 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_600x.jpg?v=1576184769 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_400x.jpg?v=1576184769 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_200x.jpg?v=1576184769 200w" height="800" width="800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="350px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_5000x.jpg?v=1576184769 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_4500x.jpg?v=1576184769 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_4000x.jpg?v=1576184769 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_3500x.jpg?v=1576184769 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_3000x.jpg?v=1576184769 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_2500x.jpg?v=1576184769 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_2000x.jpg?v=1576184769 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1800x.jpg?v=1576184769 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1600x.jpg?v=1576184769 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1400x.jpg?v=1576184769 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1200x.jpg?v=1576184769 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_1000x.jpg?v=1576184769 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_800x.jpg?v=1576184769 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_600x.jpg?v=1576184769 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_400x.jpg?v=1576184769 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_200x.jpg?v=1576184769 200w">
</div>

<noscript> <img src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial5_2000x.jpg?v=1576184769" alt="" class="">
</noscript> <figcaption class="feature-overlay"> <a class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">"Jump start a coat"</h2> <div class="feature-details reveal-details" style="display: none;"> <div class="description"><p>Best way to "jump start" a coat after a heavy shedding... We love it!&nbsp;</p>
<p>- Margaret</p></div></div></div></figcaption></div></figure> <figure class="feature-section section-3 promo-3 title-overlay-true promo-animation--true animated fadeInDown"> <div class="feature-inner feature-style--square ">
                
<div class="image-element__wrap" style=" "> <img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1600x.jpg?v=1576184773" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1600x.jpg?v=1576184773" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_5000x.jpg?v=1576184773 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_4500x.jpg?v=1576184773 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_4000x.jpg?v=1576184773 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_3500x.jpg?v=1576184773 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_3000x.jpg?v=1576184773 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_2500x.jpg?v=1576184773 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_2000x.jpg?v=1576184773 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1800x.jpg?v=1576184773 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1600x.jpg?v=1576184773 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1400x.jpg?v=1576184773 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1200x.jpg?v=1576184773 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1000x.jpg?v=1576184773 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_800x.jpg?v=1576184773 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_600x.jpg?v=1576184773 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_400x.jpg?v=1576184773 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_200x.jpg?v=1576184773 200w" height="800" width="800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="350px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_5000x.jpg?v=1576184773 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_4500x.jpg?v=1576184773 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_4000x.jpg?v=1576184773 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_3500x.jpg?v=1576184773 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_3000x.jpg?v=1576184773 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_2500x.jpg?v=1576184773 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_2000x.jpg?v=1576184773 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1800x.jpg?v=1576184773 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1600x.jpg?v=1576184773 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1400x.jpg?v=1576184773 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1200x.jpg?v=1576184773 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_1000x.jpg?v=1576184773 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_800x.jpg?v=1576184773 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_600x.jpg?v=1576184773 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_400x.jpg?v=1576184773 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_200x.jpg?v=1576184773 200w">
</div>

<noscript> <img src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/testimonial6_2000x.jpg?v=1576184773" alt="" class="">
</noscript> <figcaption class="feature-overlay"> <a class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">“Shiny and healthy”</h2> <div class="feature-details" style="display: none;"> <div class="description"><p>My German Shepherd, Luke, has been on the healthy coat and skin formula for 3 weeks and his coat has improved so that it is shiny and healthy looking.&nbsp; His coat is no longer dry and he isn't itching as much, however it is summer so he is back to digging in the sand and in the lake a lot....</p>
<p>- Jean</p></div></div></div></figcaption></div></figure></div></div>

</div>
  
<div style="clear:both; margin-top:-30px;">
  <h2 style="text-align:center;">Help For A Healthy Coat and Skin is Here</h2><div class="feature_divider"></div>
  <div class="image-element__wrap landingss2-half" style="margin:0 0 20px 20px;overflow: hidden;">
    <img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05.jpg?v=1581562532" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1600x.jpg?v=1581562532" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_5000x.jpg?v=1581562532 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_4500x.jpg?v=1581562532 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_4000x.jpg?v=1581562532 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_3500x.jpg?v=1581562532 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_3000x.jpg?v=1581562532 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_2500x.jpg?v=1581562532 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_2000x.jpg?v=1581562532 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1800x.jpg?v=1581562532 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1600x.jpg?v=1581562532 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1400x.jpg?v=1581562532 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1200x.jpg?v=1581562532 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1000x.jpg?v=1581562532 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_800x.jpg?v=1581562532 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_600x.jpg?v=1581562532 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_400x.jpg?v=1581562532 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_200x.jpg?v=1581562532 200w" height="800" width="1800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="1180px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_5000x.jpg?v=1581562532 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_4500x.jpg?v=1581562532 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_4000x.jpg?v=1581562532 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_3500x.jpg?v=1581562532 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_3000x.jpg?v=1581562532 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_2500x.jpg?v=1581562532 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_2000x.jpg?v=1581562532 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1800x.jpg?v=1581562532 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1600x.jpg?v=1581562532 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1400x.jpg?v=1581562532 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1200x.jpg?v=1581562532 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_1000x.jpg?v=1581562532 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_800x.jpg?v=1581562532 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_600x.jpg?v=1581562532 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_400x.jpg?v=1581562532 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-04-05_200x.jpg?v=1581562532 200w">
  </div>
  <div class="landingss2-half" style="margin-bottom:30px;">
    <p><strong>Even with fresh food, raw food, and top-of-the-line dog kibbles, your dog may still miss out on essential nutrients for healthy skin and a beautiful coat.</strong> Show Stopper can supplement any diet, loaded with the nutrition dogs need and made from the highest-quality, human-grade ingredients. These ingredients create a powerful defense against inflammation caused by allergies, outside factors and an unbalanced diet.</p>
    <p><strong>What's Inside:</strong>
    <ul style="margin-bottom:0px;">
      <li><strong>Essential Nutrients.</strong> We use only the best quality ingredients in our blends to make every scoop well balanced and pure. You’ll never find any fillers, additives, wheat, gluten or soy in our products.</li>
      <li><strong>Powerful Antioxidants.</strong> Ingredients like blueberries, broccoli sprouts, beet juice and cherry juice work together to combat the main culprit of itching, inflammation.</li>
      <li style="margin-bottom:0px;"><strong>Omega 3 & Omega 6 Fatty Acids.</strong> These fatty acids work together to promote a healthy immune system, which protects against inflammation.</li>
 	</ul>
  </div>

</div>
  
<div style="clear:both; margin-top:30px;">
  <h2 style="text-align:center;">Try Show Stopper For 28 Days, Risk-Free</h2><div class="feature_divider"></div>
  <div class="image-element__wrap landingss2-halfleft" style="margin:0 20px 20px 0;overflow: hidden;">
    <img alt="" src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1600x.jpg?v=1581562532" data-src="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1600x.jpg?v=1581562532" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_5000x.jpg?v=1581562532 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_4500x.jpg?v=1581562532 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_4000x.jpg?v=1581562532 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_3500x.jpg?v=1581562532 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_3000x.jpg?v=1581562532 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_2500x.jpg?v=1581562532 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_2000x.jpg?v=1581562532 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1800x.jpg?v=1581562532 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1600x.jpg?v=1581562532 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1400x.jpg?v=1581562532 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1200x.jpg?v=1581562532 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1000x.jpg?v=1581562532 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_800x.jpg?v=1581562532 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_600x.jpg?v=1581562532 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_400x.jpg?v=1581562532 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_200x.jpg?v=1581562532 200w" height="800" width="1800" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="1180px" srcset="//cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_5000x.jpg?v=1581562532 5000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_4500x.jpg?v=1581562532 4500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_4000x.jpg?v=1581562532 4000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_3500x.jpg?v=1581562532 3500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_3000x.jpg?v=1581562532 3000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_2500x.jpg?v=1581562532 2500w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_2000x.jpg?v=1581562532 2000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1800x.jpg?v=1581562532 1800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1600x.jpg?v=1581562532 1600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1400x.jpg?v=1581562532 1400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1200x.jpg?v=1581562532 1200w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_1000x.jpg?v=1581562532 1000w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_800x.jpg?v=1581562532 800w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_600x.jpg?v=1581562532 600w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_400x.jpg?v=1581562532 400w,
    //cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-19_200x.jpg?v=1581562532 200w">
  </div>
  <div style="display:grid;">
    <p><strong>Improving your dog's overall health and well being starts from the inside. And this doesn't happen overnight.</strong> Try it 28 days, risk-free. If you're not happy, send it back for a full refund.</p>
    <ul>
      <li><strong>Buy with confidence.</strong> We want you to feel good about the purchase, too.</li>
      <li><strong>Not what you expected?</strong> No worries. It happens sometimes. We'll gladly take it back.</li>
      <li><strong>Have a picky eater?</strong> We all know a dog who is. If he doesn't like it, return it. No questions asked.</li>
 	</ul>
  </div>
</div>


  
<div class="container" style="clear:both;width:100%; text-align:center;">
  <div class="landingss2-third" style="margin:0 10px 20px; overflow:hidden;">
    <img src="https://cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_16-12-51.jpg?v=1581562532" height="50" style="vertical-align:middle; margin-bottom:10px;" /><p><strong>Fast, Free Shipping</strong><br />It's always on us.</p>
  </div>
  <div class="landingss2-third" style="margin:0 10px 20px; overflow:hidden;">
    <img src="https://cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-53-54.jpg?v=1581562532" height="50" style="vertical-align:middle; margin-bottom:10px;" /><p><strong>100% Money Back Guarantee</strong><br />If your dog isn't happy, we're not either.</p>
  </div>
  <div class="landingss2-third" style="margin:0 10px; overflow:hidden;">
    <img src="https://cdn.shopify.com/s/files/1/0255/3623/3569/files/photo_2020-02-12_20-54-04.jpg?v=1581562532" height="50" style="vertical-align:middle; margin-bottom:10px;" /><p><strong>20+ Years in Business</strong><br />We've got a history of making dogs healthy.</p>
  </div>
</div>
  
<div style="clear:both;text-align:center;">
  <h2>Ready to Ditch the Itch?</h2><div class="feature_divider"></div>
  <button style="width: 50%; height: 60px;" class="bottombutton action_button shopnow_button" type="button" name="shopnow" data-label="Shop Now" onclick="window.location.href='/products/show-stopper';"><span class="text">Shop Show Stopper</span></button>
</div>
  
</div>
  
</div>