$(document).ready(function() {
  $('ul.tabs').each(function(){
    var active, content, links = $(this).find('a');
    active = links.first().addClass('active');
    content = $(active.attr('href'));
    links.not(':first').each(function () {
      $($(this).attr('href')).hide();
    });
    $(this).find('a').click(function(e){
      active.removeClass('active');
      content.hide();
      active = $(this);
      content = $($(this).attr('href'));
      active.addClass('active');
      content.show();
      return false;
    });   
  });
});

$($('.product .section.product_section .description').find('h6').get()).each(function(i) {
  var tabName = $(this).text();
  tabContent = '';
  if ($(this).text() != '') {
    $(this).hide();
    $(this).nextUntil('h6').each(function() {
      tabContent = tabContent + this.outerHTML;
      $(this).hide();
    });
  $('.description .description-tabs ul.tabs').append('<li><a href="#tab-' + [i+2] + '">' + tabName + '</a></li>');
  $('.description .description-tabs').append('<div id="tab-' + [i+2] + '">' + tabContent + '</div>');
  } else {
  $(this).hide();
  }
});